.calc-container {
  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2px;
}

.calc-display {
  grid-column: 1 / span 4;
  background-color: #a7a7a7;
  text-align: right;
  padding-right: 13px;
}

.zero {
  grid-column: 1 / span 2;
}

.calc-container div {
  color: black;
  padding: 16px 12px;
}

.operator {
  background-color: orange;
}

.number,
.dot {
  background-color: #d2d2d2;
}
